<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/purplish8668/repos/odin-recipes/static/style.css">
    <title>Cinnamon Toast Crunch Recipe</title>
</head>
<body>
    <h1>Cinnamon Toast Crunch</h1>
    <img src="/home/purplish8668/repos/odin-recipes/assets/cinnamon-toast-crunch-bowl.png" alt="Bowl of Cinnamon Toast Crunch" height="auto" width="300px">

    <h2>Ingredients</h2>
    <ul class = "ingredients">
        <li>Cinnamon Toast Crunch</li>
        <li>Whole Milk</li>
    </ul>

    <h2>Steps</h2>
    <ol class="steps">
        <li>Pour cereal into bowl.</li>
        <li>Pour milk on top of cereal</li>
        <li>Enjoy!</li>
    </ol>
</body>
</html>