<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/purplish8668/repos/odin-recipes/static/style.css">
    <title>Odin Recipes</title>
</head>
<body>
    <h1>Recipes</h1>
    <ul>
        <li><a href="./padseeew.html" target="_blank">Pad See Ew</a></li>
        <li><a href="./grilledcheese.html" target="_blank">Grilled Cheese</a></li>
        <li><a href="./cereal.html" target="_blank">Cinnamon Toast Crunch</a></li>      
    </ul>
</body>
</html>