<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/purplish8668/repos/odin-recipes/static/style.css">
    <title>Pad See Ew Recipe</title>
</head>
<body>
    <h1>Pad See Ew</h1>
    <img src="/home/purplish8668/repos/odin-recipes/assets/pad-see-ew.jpg" alt="A picture of pad see ew" height="auto" width="300px">
    <h2>Description</h2>
    <p>Pad See Ew is a Chinese noodle dish full of sweet, salty, and umami flavors. Pad See Ew generally contains wide rice noodles, a protein such as beef, shrimp, or chicken as well as Chinese broccoli, garlic, white pepper, along with a delicous sauce commonly made with Light and Dark Soy Sauce, Oyster 
        Sauce, and Chinese Black Vinegar. Many recipes also called for a scrambled egg as part of the dish.
    </p>

    <h2>Ingredients</h2>
    <h3>Stir Fry Ingredients</h3>
    <ul class="ingredients">

        <li>Wide Rice Noodles (1 part)</li>
        <li>Chicken Thighs (1 part)</li>
        <li>Chinese Broccoli (1/2 part)</li>
        <li>Garlic (5 to 7 cloves)</li>
        <li>Whole Eggs (2 to 3)</li>
        <li>White Pepper, to taste</li>
    </ul>
    <h3>Stir Fry Sauce</h3>
    <ul class="ingredients">
        <li>Light Soy Sauce (1 part)</li>
        <li>Dark Soy Sauce (1 part)</li>
        <li>Sugar (1 part)</li>
        <li>Oyster Sauce (1 part)</li>
        <li>Fish Sauce (1/2 part)</li>
    </ul>

    <h2>Steps</h2>
    <ol class="steps">
        <li>Slice chicken into thin slices, lightly salt and set aside. Chop broccoli and garlic. Scramble eggs into a small bowl and lightly salt. Prepare noodles according to box directions and set aside, drained.</li>
        <li>Prepare sauce into a squeeze bottle or bowl and set aside. (Sauce will keep for months in the fridge. Make more than you think you will need for this recipe.</li>
        <li>Crush white pepper in a mortar and pestle.</li>
        <li>In a hot wok, pour a small amount of oil along with beaten eggs. Swirl around the pan and scramble for about a minute. Transfer to a clean bowl.</li>
        <li>Add some more oil and crushed white pepper along with garlic to wok. Stir fry for about 30 seconds, until fragrant.</li>
        <li>Add chicken to wok, working in batches if needed. Stir fry for about four minutes, until cooked through on the outside. Transfer to a clean bowl.</li>
        <li>Add more oil and Broccoli to wok, stir frying for about 3 minutes, add a small squirt of sauce to the wok and stir fry for an additional two minutes.</li>
        <li>Remove broccoli and then stir fry noodles in oil and some sauce for a few minutes. </li>
        <li>Once noodles are lightly charred, add in previous ingredients back to the wok and stir fry for an additional few minutes. Add sauce to taste as you combine the remaining ingredients.</li>
    </ol>
    
</body>
</html>